<div class='d-flex justify-content-center mt-5'>
  <div class="w-75 text-center card shadow-1-strong"
    style="background-image: url('https://png.pngtree.com/thumb_back/fh260/back_our/20190623/ourmid/pngtree-office-worker-cartoon-work-minimalist-background-image_239069.jpg'); 
    background-repeat: none; background-position: center;  background-size: cover;"id='card-wrapper'>
     <div class="card-body text-black">
      <h2 class="card-title font-weight-bolder">Task Manager</h2>
      <p class="card-text text-justify mt-5 px-5 myp font-weight-bold">
        Dependability is the heart of responsibility. It means you are always at the right place at the right time doing what you know has to be done.
        You never put off until tomorrow what you know you must do today.
        When you put your hand to something, you will see it through, no matter what opposition you come up against.
        You are never discouraged by obstacles, but see them as stepping stones as challenges to be overcome. 
      </p>
      <%= link_to "Sign Up!", sign_up_path, class: "btn btn-primary mt-4 btn-lg" %>
      </div>
  </div>
</div>

