<div class='d-flex justify-content-center mt-5'>
  <div class="w-75 text-center card shadow-1-strong brand_bg"
    style="background-image: url('https://wallpaperaccess.com/full/2040033.jpg'); 
    background-repeat: none; background-position: center;  background-size: cover;"id='card-wrapper'>
      <h2 class="card-title rounded font-weight-bolder text-white myp w-50 mx-auto mt-4">Task Manager</h2>
  </div>
</div>
