body {
  height: 100vh;
  background-color: lightgray;
}
.container-custom {
  min-height: 88.55vh;
}
.myp {
  opacity: 0;
  animation: fade-from-bottom 0.8s ease-in forwards;
  animation-delay: 1.3s;
}

.brand_bg {
  animation: fade-from-center 1.5s ease-in forwards;
}
@keyframes fade-from-bottom {
  0% {
    transform: translateY(3rem);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-from-center {
  0% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

#card-wrapper {
  height: 75vh;
  border-radius: 1rem;
  box-shadow: 0.2rem 0.2rem 1rem;
  background-size: cover;
}
.my_task {
  max-height: 84vh;
  overflow-y: auto;
}

.my_task::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.685); */
  border-radius: 10px;
  background-color: #00000000;
}
.my_task:hover::-webkit-scrollbar-track {
  background-color: #00000038;
}

.my_task::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

.my_task:hover::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border: 1px solid rgb(41, 41, 41);
  background-color: rgb(126, 126, 126);
  background-image: -webkit-linear-gradient(
    90deg,
    transparent,
    rgba(95, 95, 95, 0.493) 70%,
    transparent
  );
}

.bg_opacity {
  margin-top: 9px;
  background-color: rgba(0, 0, 0, 0.657);
}

.bg_opacity .dropdown-item {
  color: white;
}

.bg_opacity .dropdown-item:hover {
  background-color: rgba(0, 0, 0, 0.342);
  color: white;
}

.myp {
  background-color: rgba(0, 0, 0, 0.39);
  text-shadow: 0.5rem 0.5rem 1rem black;
}
.navbar .navbar-brand:hover {
  color: aqua !important;
  border-color: rgb(3, 202, 202) !important;
}

.nav-item .nav-link:hover {
  background-color: rgba(0, 0, 0, 0.335);
  border-radius: 5px;
}
.cat_hover {
  transition: all 0.2s ease-in;
}
.cat_hover:hover {
  transform: scale(1.1);
}
.u_card {
  border: 3px solid #343a40;
}
.social:hover {
  color: black !important;
}

.social:link,
.social:visited {
  display: inline-block;
  transform: scale(0.8);
  animation: social 3s linear infinite;
}

@keyframes social {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
    transform: scale(1.2);
  }

  100% {
    opacity: 0;
  }
}

.categories_bg {
  animation: fade-from-bottom 0.8s ease-in forwards;
}

.social:link:nth-child(1),
.social:visited:nth-child(1) {
  animation-delay: 0s;
}

.social:link:nth-child(2),
.social:visited:nth-child(2) {
  animation-delay: 0.3s;
}

.social:link:nth-child(3),
.social:visited:nth-child(3) {
  animation-delay: 0.6s;
}
.social:link:nth-child(4),
.social:visited:nth-child(4) {
  animation-delay: 0.9s;
}
