body {
  height: 100vh;
  background-color: lightgray;
}
.container-custom {
  min-height: 88.55vh;
}

#card-wrapper {
  height: min-content;
  border-radius: 1rem;
  box-shadow: 0.2rem 0.2rem 1rem;
  background-size: cover;
}

.myp {
  text-shadow: 0.5rem 0.5rem 1rem white;
}
.navbar .navbar-brand:hover {
  color: aqua !important;
  border-color: aqua !important;
}

.nav-item .nav-link:hover {
  text-decoration-line: underline;
}

.social:hover {
  color: black !important;
}

.social:link,
.social:visited {
  display: inline-block;
  transform: scale(0.8);
  animation: social 3s linear infinite;
}

@keyframes social {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
    transform: scale(1.2);
  }

  100% {
    opacity: 0;
  }
}

.social:link:nth-child(1),
.social:visited:nth-child(1) {
  animation-delay: 0s;
}

.social:link:nth-child(2),
.social:visited:nth-child(2) {
  animation-delay: 0.3s;
}

.social:link:nth-child(3),
.social:visited:nth-child(3) {
  animation-delay: 0.6s;
}
.social:link:nth-child(4),
.social:visited:nth-child(4) {
  animation-delay: 0.9s;
}
